section.aboutSection
    .container
        .aboutUs
            .title.aboutUs__title.animated-background
                .mask
                span.hidden Почему мы?
            .aboutUs__description.animated-background
                p.hidden Вы также можете заказать доставку товара на отделение «Новой почты», указанное при оформлении заказа. Отправка возможна по предоплате либо наложенным платежом.
                    | <br>Доставка бесплатная.
                p.hidden Обращаем ваше внимание, что товар в отделениях «Новой почты» хранится бесплатно в течение 5-ти рабочих дней. Отсчет начинается со дня поступления посылки на склад, воскресенье и праздничные дни не учитываются.

        .aboutUs__stats
            .aboutUs__statsItem.animated-background
                span.hidden 1000+
                div.hidden довольных клиентов
            .aboutUs__statsItem.animated-background
                span.hidden 206
                div.hidden наименований
            .aboutUs__statsItem.animated-background
                span.hidden 3 года
                div.hidden работы магазина
            .aboutUs__statsItem.animated-background
                span.hidden 1 год
                div.hidden гарантии на товар
        .border
        .delivery
            .title.delivery__title.animated-background
                span.hidden Доставка
            .delivery__item.greyBg
                .delivery__itemHeader.animated-background
                    .delivery__icon.hidden
                        include ../components/icons/novaposhta.svg
                    .delivery__subtitle.hidden Новая почта
                .delivery__detail.animated-background
                    span.hidden
                        p Вы также можете заказать доставку товара на отделение «Новой почты», указанное при оформлении заказа. Отправка возможна по предоплате либо наложенным платежом. <br> Доставка бесплатная.
                        p Обращаем ваше внимание, что товар в отделениях «Новой почты» хранится бесплатно в течение 5-ти рабочих дней. Отсчет начинается со дня поступления посылки на склад, воскресенье и праздничные дни не учитываются. По предварительному согласованию с менеджером интернет-магазина срок хранения может быть продлен.
            .delivery__item.greyBg
                .delivery__itemHeader.animated-background
                    .delivery__icon.hidden
                        include ../components/icons/car.svg
                    .delivery__subtitle.hidden самовывоз
                .delivery__detail.animated-background
                    span.hidden
                        p Вы также можете заказать доставку товара на отделение «Новой почты», указанное при оформлении заказа. Отправка возможна по предоплате либо наложенным платежом. <br> Доставка бесплатная.
                        p Обращаем ваше внимание, что товар в отделениях «Новой почты» хранится бесплатно в течение 5-ти рабочих дней. Отсчет начинается со дня поступления посылки на склад, воскресенье и праздничные дни не учитываются. По предварительному согласованию с менеджером интернет-магазина срок хранения может быть продлен.

