section.aboutSection
    .container
        .aboutUs
            .title.aboutUs__title Почему мы?
            .aboutUs__description <p>Вы также можете заказать доставку товара на отделение «Новой почты», указанное при оформлении заказа. Отправка возможна по предоплате либо наложенным платежом.
                | <br>Доставка бесплатная.<p>
                | <p>Обращаем ваше внимание, что товар в отделениях «Новой почты» хранится бесплатно в течение 5-ти рабочих дней. Отсчет начинается со дня поступления посылки на склад, воскресенье и праздничные дни не учитываются.</p>

        .aboutUs__stats
            .aboutUs__statsItem
                span 1000+
                div довольных клиентов
            .aboutUs__statsItem
                span 206
                div наименований
            .aboutUs__statsItem
                span 3 года
                div работы магазина
            .aboutUs__statsItem
                span 1 год
                div гарантии на товар
        .border
        .delivery
            .title.delivery__title Доставка
            .delivery__item.greyBg
                .delivery__itemHeader
                    .delivery__icon
                        include ../components/icons/novaposhta.svg
                    .delivery__subtitle Новая почта
                .delivery__detail
                    p Вы также можете заказать доставку товара на отделение «Новой почты», указанное при оформлении заказа. Отправка возможна по предоплате либо наложенным платежом. <br> Доставка бесплатная.
                    p Обращаем ваше внимание, что товар в отделениях «Новой почты» хранится бесплатно в течение 5-ти рабочих дней. Отсчет начинается со дня поступления посылки на склад, воскресенье и праздничные дни не учитываются. По предварительному согласованию с менеджером интернет-магазина срок хранения может быть продлен.
            .delivery__item.greyBg
                .delivery__itemHeader
                    .delivery__icon
                        include ../components/icons/car.svg
                    .delivery__subtitle самовывоз
                .delivery__detail
                    p Вы также можете заказать доставку товара на отделение «Новой почты», указанное при оформлении заказа. Отправка возможна по предоплате либо наложенным платежом. <br> Доставка бесплатная.
                    p Обращаем ваше внимание, что товар в отделениях «Новой почты» хранится бесплатно в течение 5-ти рабочих дней. Отсчет начинается со дня поступления посылки на склад, воскресенье и праздничные дни не учитываются. По предварительному согласованию с менеджером интернет-магазина срок хранения может быть продлен.

