section.descriptionSection
    .greyBg
        .container.productSlider__container
            .clearfix
            .title.descriptionSection__title
                span.hidden Сумка jako black
            include ../components/productSlider
            button.productSlider__readmore
                span.hidden Описание
    .container.whiteBg
        include ../components/productInfo