section.descriptionSection
    .greyBg
        .container.productSlider__container
            .clearfix
            .title.descriptionSection__title Сумка jako black
            include ../components/productSlider
            button.productSlider__readmore
                span Описание
    .container.whiteBg
        include ../components/productInfo