section.descriptionSection
    .title.descriptionSection__title.animated-background
        .mask.mask--before
        .mask.mask--after
        span.hidden Сумка jako black
    .greyBg
        .container.productSlider__container
            .clearfix
            include ../components/productSlider
    .container.whiteBg
        include ../components/productInfo