footer.footer.blackBg
    .container
        .phone.animated-background
            span.hidden +38 (099) 000 00 00
        .subscription.animated-background
            .subscription__label.hidden Подписывайся:
            .subscription__icons.hidden
                a(href="#")
                    include ../components/icons/instagram.svg
                a(href="#")
                    include ../components/icons/facebook.svg
        .paymentMethod.animated-background
            .paymentMethod__item.qiwi.hidden
            .paymentMethod__item.visa.hidden
            .paymentMethod__item.mastercard.hidden
            .paymentMethod__item.westernunion.hidden
        .copyright.animated-background
            span.hidden © 2018 Купи маме сумку

