footer.footer.blackBg
    .container
        .phone +38 (099) 000 00 00
        .subscription
            .subscription__label Подписывайся:
            .subscription__icons
                a(href="#")
                    include ../components/icons/instagram.svg
                a(href="#")
                    include ../components/icons/facebook.svg
        .paymentMethod
            .paymentMethod__item.qiwi
            .paymentMethod__item.visa
            .paymentMethod__item.mastercard
            .paymentMethod__item.westernunion
        .copyright © 2018 Купи маме сумку

