section.reviewsSection.greyBg
    .container
        .reviewsSection__title
        .reviewsSlider
            .reviewsSlider__item.reviewsSlider__item--yellow
                .reviewsSlider__header
                    .reviewsSlider__author анатолий
                    .reviewsSlider__date 30.03.19
                .reviewsSlider__comment
                    p Покупкой доволен, глазам комфортнее в разы, удобные. Качество очков отличное и они действительно помогают.
                        | Рекомендую.
                    p Очки очень понравились, качество отличное, и такая форма многим будет к лицу. покупкой довольна, рекомендую!
                        |    Спасибо!
            .reviewsSlider__item.reviewsSlider__item--red
                .reviewsSlider__header
                    .reviewsSlider__author анатолий
                    .reviewsSlider__date 30.03.19
                .reviewsSlider__comment
                    p Покупкой доволен, глазам комфортнее в разы, удобные. Качество очков отличное и они действительно помогают.
                        | Рекомендую.
                    p Очки очень понравились, качество отличное, и такая форма многим будет к лицу. покупкой довольна, рекомендую!
                        |    Спасибо!
            .reviewsSlider__item.reviewsSlider__item--violet
                .reviewsSlider__header
                    .reviewsSlider__author анатолий
                    .reviewsSlider__date 30.03.19
                .reviewsSlider__comment
                    p Покупкой доволен, глазам комфортнее в разы, удобные. Качество очков отличное и они действительно помогают.
                        | Рекомендую.
                    p Очки очень понравились, качество отличное, и такая форма многим будет к лицу. покупкой довольна, рекомендую!
                        |    Спасибо!
        button.btn.btn--yellow.reviewsSection__btn написать отзыв