section.reviewsSection.greyBg
    .container
        .reviewsSection__title.animated-background
        include ../components/reviewsSlider
        button.btn.btn--yellow.reviewsSection__btn.animated-background
            span.hidden написать отзыв