.similarProductsSection{
  &__title{
    background: url("../img/similarProductsTitle.png");
    width: 226px;
    height: 83px;
  }
  .similarProducts{
    margin-top: 30px;
    &__slider{
      margin: 0 auto;
    }
  }
}