@import "settings";
//Items
.hidden{
  display: none !important;
}
p{
  padding: 10px 0;
  margin: 0;
}
.border{
  height: 2px;
  margin: 30px 0;
  background: #e8e8e8;
}
//sections
@import "base/sections/header";
@import "base/sections/description";
@import "base/sections/video";
@import "base/sections/reviews";
@import "base/sections/about";
@import "base/sections/similarProducts";
@import "base/sections/footer";
//components
@import "base/components/title";
@import "base/components/price";
@import "base/components/phone";
@import "base/components/subscription";
@import "base/components/paymentMethod";
@import "base/components/copyright";
@import "base/components/productSlider";
@import "base/components/productInfo";
@import "base/components/videoPlayer";
@import "base/components/reviewsSlider";
@import "base/components/aboutUs";
@import "base/components/delivery";
@import "base/components/product";
@import "base/components/navigation";
@import "base/components/similarProducts";
@import "base/components/btn";
