.productInfo {
  height: 615px;
  padding: 30px 0;
  &__description {
    min-height: 187px;
  }
  &__border {
    height: 1px;
    margin: 30px 0;
  }
  &__properties {
    width: 100%;
    min-height: 174px;
    table {
      width: 100%;
    }
  }
  &__footer {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
  }

  @media screen and (min-width: 1130px) {
    padding: 140px 0 0;
    width: 530px;
    &__description {
      min-height: 100px;
    }
    &__properties {
      width: 380px;
      min-height: 130px;
    }
    &__footer {
      margin-top: 115px;
      padding: 0;
      justify-content: inherit;
      .btn{
        margin-left: 40px;
      }
    }
  }
}