//- home.pug

extends ../layout.pug
block variables
    - var title = 'Головна сторінка'
block content
    include ../sections/description
    include ../sections/video
    include ../sections/reviews
    include ../sections/about
    include ../sections/similarProducts