.footer{
  min-height: 247px;
  padding-top: 50px;
  .phone{
    margin: 0 auto;
  }
  .subscription{
    margin: 10px auto 0 auto;
  }
  .paymentMethod{
    margin: 40px auto 0 auto;
  }
  .copyright{
    margin: 20px auto 0 auto;
  }
}