//- layout.pug
block variables
doctype
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./dist/css/basic.css")
        link(rel="stylesheet", href="./dist/css/style.css")
        link(rel="stylesheet", href="./dist/css/fonts.css")
        link(rel="stylesheet", href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
        script(src="https://code.jquery.com/jquery-3.3.1.min.js")
        script(src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
        title Сумка - #{title}
    body(class=bodyClass)
        include sections/header
        main(role="main")
            block content
        include sections/footer
        script(src="src/js/app.js")