.productSlider{
  &__item{
    text-align: center;
  }
  .slick-list{
    height: 328px;
    *{
      outline: none;
    }
    .slick-track{
      height: 100%;
    }
  }
  .slick-dots{
    margin-top: 0 !important;
  }
  &__readmore {
    color: $whiteGrey;
    @include CenturyGothic();
    font-size: 13px;
    line-height: 11px;
    background: none;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 0;
    span{
      display: block;
      position: absolute;
      top:0;
      left:0;
      right: 0;
      bottom: 0;
      margin: 0 auto;
    }
    &:after{
      content: "";
      width: 6px;
      height: 6px;
      border-right: 1px solid $whiteGrey;
      border-bottom: 1px solid $whiteGrey;
      display: block;
      transform: rotate(45deg);
      position: absolute;
      left:0;
      right: 0;
      bottom: 1px;
      margin: 0 auto;
    }
    &:hover{
      span{
        text-decoration: underline;
      }
    }
  }
}