.slider {
  .slick-dots {
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;

    li {
      font-size: 0;
      margin: 0 10px;

      button {
        cursor: pointer;
        display: block;
        width: 10px !important;
        height: 10px !important;
        padding: 0;
        background-color: $black;
        opacity: 0.4;
        border: none;
        display: block;
        border-radius: 50%;
        outline: none;
      }

      &.slick-active {
        button {
          width: 15px !important;
          height: 15px !important;
          background-color: #ff721c;
          opacity: 1;
        }
      }
    }
  }
  .slick-slide img{
    display: inline-block;
  }
  &--yellow{
    background-color: #f96e01;
  }
  &--red{
    background-color: #f24841;
  }
  &--violet{
    background-color: #686bb2;
  }
  &--blue{
    background-color: #568dcd;
  }
}
