.navigation.animated-background
    button.hidden
        include ./icons/label.svg
    button.hidden
        include ./icons/play.svg
    button.hidden
        include ./icons/chat.svg
    button.hidden
        include ./icons/info.svg
    button.hidden
        include ./icons/shopping-purse.svg