.navigation
    button
        include ./icons/label.svg
    button
        include ./icons/play.svg
    button
        include ./icons/chat.svg
    button
        include ./icons/info.svg
    button
        include ./icons/shopping-purse.svg