.productInfo
    .productInfo__description.animated-background
        span.hidden Стильные женские солцезащитные очки от Guess. Оправа крупная — 15 самтиметров в ширину, выполнена из черного и золотистого пластика. Стекла градиентные черные изнутри и золотистые зеркальные снаружи. 100% защита от ультрафиолета. Габариты линзы — 55х54 мм, ширина очков — 150 мм. Пластиковая оправа. Зеркальные стекла. Устойчивы к падению и царапинам. Комплектуются жестким фирменным футляром.
    .border
    .productInfo__properties.animated-background
        table.hidden
            tr
                td Страна-<br> производитель
                td Китай
            tr
                td Цвет кожи
                td Коричневий
            tr
                td Цвет вставок
                td Желтый
            tr
                td Цвет ручек
                td Красный
            tr
                td Категория
                td Для женщин
            tr
                td Состав
                td Поликарбонат
            tr
                td Материал
                td Пластик
    .productInfo__footer
        .productInfo__price.price.animated-background
            span.hidden 843
            span.small.hidden &nbsp; грн
        button.btn.btn--green.animated-background
            span.hidden купить