.productSlider.slider
    .productSlider__item
        img(src="dist/img/obag-middle.png")
    .productSlider__item
        img(src="dist/img/obag-middle.png")
    .productSlider__item
        img(src="dist/img/obag-middle.png")