.productSlider
    .slider
        .productSlider__item.hidden
            img(data-src="dist/img/obag-middle.png" width=197 height=252)
        .productSlider__item.hidden
            img(data-src="dist/img/obag-middle.png" width=197 height=252)
        .productSlider__item.hidden
            img(data-src="dist/img/obag-middle.png" width=197 height=252)