.reviewsSlider.slider
    .reviewsSlider__item.slider--yellow.hidden
        .reviewsSlider__header
            .reviewsSlider__author анатолий
            .reviewsSlider__date 30.03.19
        .reviewsSlider__comment
            p Покупкой доволен, глазам комфортнее в разы, удобные. Качество очков отличное и они действительно помогают.<br>
                | Рекомендую.
            p Очки очень понравились, качество отличное, и такая форма многим будет к лицу. покупкой довольна, рекомендую!<br>
                |    Спасибо!
    .reviewsSlider__item.slider--red.hidden
        .reviewsSlider__header
            .reviewsSlider__author анатолий
            .reviewsSlider__date 30.03.19
        .reviewsSlider__comment
            p Покупкой доволен, глазам комфортнее в разы, удобные. Качество очков отличное и они действительно помогают.<br>
                | Рекомендую.
            p Очки очень понравились, качество отличное, и такая форма многим будет к лицу. покупкой довольна, рекомендую!<br>
                |    Спасибо!
    .reviewsSlider__item.slider--violet.hidden
        .reviewsSlider__header
            .reviewsSlider__author анатолий
            .reviewsSlider__date 30.03.19
        .reviewsSlider__comment
            p Покупкой доволен, глазам комфортнее в разы, удобные. Качество очков отличное и они действительно помогают.<br>
                | Рекомендую.
            p Очки очень понравились, качество отличное, и такая форма многим будет к лицу. покупкой довольна, рекомендую!<br>
                |    Спасибо!