.similarProducts
    .similarProducts__slider.slider
        .similarProducts__item.slider--yellow
            .similarProducts__imgContainer
                img(src="./dist/img/small-product-1.png").similarProducts__image
            .similarProducts__title очки black 23
            .similarProducts__border
            .similarProducts__price 843
                span &nbsp;грн
        .similarProducts__item.slider--red
            .similarProducts__imgContainer
                img(src="./dist/img/small-product-1.png").similarProducts__image
            .similarProducts__title очки black 23
            .similarProducts__border
            .similarProducts__price 843
                span &nbsp;грн
        .similarProducts__item.slider--blue
            .similarProducts__imgContainer
                img(src="./dist/img/small-product-1.png").similarProducts__image
            .similarProducts__title очки black 23
            .similarProducts__border
            .similarProducts__price 843
                span &nbsp;грн
